In [4]:
# Find the largest number within the three number
num1=float(input("Please enter first number"))
num2=float(input("Please enter second number"))
num3=float(input("Please enter third number"))
if (num1>=num2 and num1>=num3):
    largest=num1
elif (num2>=num1 and num2>=num3):
    largest=num2
else:
    largest=num3
print("Largest number is :",largest)

ValueError: could not convert string to float: ''

In [ ]:
operator = input("Enter the operator to be performed")
a=int(input())
b=int(input())
if (operator=='+') :
    print(a, "+", b,"=",a+b)
elif (operator=='-') :
    print(a, "+", b,"=",a-b)
elif (operator=='*') :
    print(a, "+", b,"=",a*b)
elif (operator=='/') :
    print(a, "/", b,"=",a/b)
else :
    print("Wrong operator")

8 / 5 = 1.6

In [ ]:
Designation = input("Enter the designation of the employee")
Designation=Designation.lower() # Convert to lower case to the smaller case
if (Designation=='executive') :
    print("Salary of Executive is from 30000 to 40000")
elif (Designation=='manager') :
    print("Salary of Manager is from 60000 to 90000")
elif (Designation=='senior manager') :
    print("Salary of Senior Manager is from 120000 to 160000")
else :
    print("Please enter the correct designation")

Salary of Senior Manager is from 120000 to 160000

In [ ]:
# For loop
for i in range (5) :  # range-> generating sequence of numbers
    print(i)  # Here it is by defult starting with 0

0
1
2
3
4

In [ ]:
for i in range (2,5) : # Here we are starting with 2
    print(i)

2
3
4

In [ ]:
for i in range (0,10,2) : # range (start,stop,step)
    print(i)

0
2
4
6
8

In [ ]:
for i in range (0,20,2) :
    print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# Let us have a for loop on the list part
flist=["apple","cherry","banaba","grapes"]
for fruit in flist:
    print(fruit)

apple
cherry
banaba
grapes

In [ ]:
country=["India","UK","USA","Germany"]
for ct in country :
    print(ct)

India
UK
USA
Germany

In [ ]:
country=["India","UK","USA","Germany"]
for i in range (0,len(country)) :
    print(country[i])

India
UK
USA
Germany

In [ ]:
# Pattern
# *
# * * 
# * * * 
# * *  * *
# * *  * * *
rows=5
for i in range (rows):
    for j in range (i+1) :
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# While loop
count=1
while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [ ]:
text = ""
while text!="quit":
    text=input("Enter a word (or quit to exit):")
    print("You enetered:", text)

You enetered: Happy
You enetered: Sunday
You enetered: Today is Saturday
You enetered: Hello
You enetered: Byee
You enetered: quit

In [ ]:
nm = ["Alice","Tom","Harry","James"]
salary=[30000,40000,45000,40000]
for i in range (0,len(nm)) :
    if (nm[i]=="James") :
        salary[i] = salary[i]+salary[i]*0.05;
print(salary)

[30000, 40000, 45000, 42000.0]