In [8]:
name="Johe Doe"
print(name)

Johe Doe

In [9]:
# index starts from 0 to n-1
print(name[2])
print(name[5])

h
D

In [10]:
for i in "hello" :
    print(i)

h
e
l
l
o

In [11]:
panno="AXAT7821TY"
print(panno)

AXAT7821TY

In [14]:
panno="AXAT7821TY1"
print(len(panno))

11

In [15]:
tw="Indian economy growth is not as expected"
print("not" in tw)  # It is searching for the "not" word in the string tw

True

In [16]:
tw="Indian economy growth is not as expected"
if "is" in tw:
    print("Data is there in tw")

Data is there in tw

In [20]:
tw="Indian economy growth is not as expected"
if "abcd" not in tw: # These is the opposite of not in
    print("Data is not there in tw")

Data is not there in tw

In [3]:
# Slicing
# String name[start,end]
# Start is inclusive
# End is exclusive
name = "John Doe"
print(name[2])

h

In [6]:
name = "John Doe"
print(name[0:4])  #0->J 3(3+1=4)->n end is not inclusive
print(name[:4]) # By default initial index is 0 if we are not passing
print(name[5:]) # By default if there is nothing after colon then it will go till the last position

John
John
Doe

In [9]:
# Another Way
print(name[-3:])
print(name[-7:-4])

Doe
ohn

In [11]:
# Functions in the string
name = "john doe"
print(name.upper())
print(name.lower())

JOHN DOE
john doe

In [18]:
# Replacing the character of the string with the other characters
name = "john doe"
print(name.replace("j","J")) #replace(what,by)
print(name.replace("d","t"))
print(name)

John doe
john toe
john doe

In [19]:
# Split Function
name = "john doe"
print(name.split(" ")) # Here we are using the condition of the space

['john', 'doe']

In [20]:
name = "john doe"
print(name.split("o"))

['j', 'hn d', 'e']

In [31]:
# Concatanation of the string
#1000 USD
n1="John"
n2="Doe"
name=n1+ " " +n2
print(name)

John Doe

In [33]:
# Changing the particular element in the list
list1=["Apple","Banana","Cherris"]
print(list1)
print("------------------------------")
list1[1] = "Mangoes"
print(list1)

['Apple', 'Banana', 'Cherris']
------------------------------
['Apple', 'Mangoes', 'Cherris']

In [41]:
list1=["Apple","Banana","Cherris","Grapes","Almonds"]
print(list1)
print("------------------------------")
# Changing the two element of the list
list1[1:3] = ["Mangoes","Blue Berris"]
print(list1)

['Apple', 'Banana', 'Cherris', 'Grapes', 'Almonds']
------------------------------
['Apple', 'Mangoes', 'Blue Berris', 'Grapes', 'Almonds']

In [3]:
# If I want to insert the item in the list
list1=["Apples","Banana"]
print(list1)
print("---------------------------")
list1.insert(1,"Mangoes")
print(list1)

['Apples', 'Banana']
---------------------------
['Apples', 'Mangoes', 'Banana']

In [7]:
# Append Function
# Diiference between list and append is that in insert function you have to pass the index but append will by default add the item at the last position of the last position in the list
list1=["Apples","Banana"]
print(list1)
print("---------------------------")
list1.append("Orange")
print(list1)

['Apples', 'Banana']
---------------------------
['Apples', 'Banana', 'Orange']

In [9]:
# If we want to merge the two list
list1=["Apple","Banana"]
list2=["Mangoes","Cherries"]
list1.extend(list2)
print(list1)

['Apple', 'Banana', 'Mangoes', 'Cherries']

In [10]:
# If we want to remove the item position from the list
list1=["Apple","Banana","Mangoes","Cherris"]
print(list1)
print("------------------")
list1.remove("Banana")
print(list1)

['Apple', 'Banana', 'Mangoes', 'Cherris']
------------------
['Apple', 'Mangoes', 'Cherris']

In [15]:
# Pop function
# Pop function also removes the item from the list but you have to pass the index as the argument
list1=["Apple","Banana","Mangoes","Cherris"]
print(list1)
print("------------------")
list1.pop(1)
print(list1)

['Apple', 'Banana', 'Mangoes', 'Cherris']
------------------
['Apple', 'Mangoes', 'Cherris']

In [17]:
# Del function
list1=["Apple","Banana","Mangoes","Cherris"]
print(list1)
print("------------------")
del list1[1]
print(list1)

['Apple', 'Banana', 'Mangoes', 'Cherris']
------------------
['Apple', 'Mangoes', 'Cherris']

In [18]:
# What is the difference between remove,pop and del
# Difference between the pop and del the major difference is deleting the item

In [24]:
list1=["Apple","Banana","Mangoes","Cherris"]
for i in range (0,len(list1)) :
    print(list1[i],end=" ")

Apple Banana Mangoes Cherris

In [25]:
list1=["Apple","Banana","Mangoes","Cherris"]
for i in list1:
    print(i,end=" ")

Apple Banana Mangoes Cherris

In [26]:
list1=["Apple","Banana","Mangoes","Cherris"]
newlist=[]
for i in list1:
    if "A" in i:
        newlist.append(i)
print(newlist)

['Apple']

In [28]:
# Short hand code for the above implementation
# Passing the loop in the list
list1=["Apple","Banana","Mangoes","Cherris"]
newlist=[i for i in list1 if "A" in i]
print(newlist)

['Apple']

In [34]:
# Another example for the above code
list1=["Apple","Banana","Mangoes","Cherris"]
newlist=[i for i in list1 if "B" in i]
print(newlist)

['Banana']

In [35]:
# Sorting function
# Sorting in the increasing order
list1=["Apple","Banana","Mangoes","Cherris"]
list1.sort()
print(list1)

['Apple', 'Banana', 'Cherris', 'Mangoes']

In [37]:
# Sorting function
# Sorting in the decreasing order
list1=["Apple","Banana","Mangoes","Cherris"]
list1.sort(reverse=True)
print(list1)

['Mangoes', 'Cherris', 'Banana', 'Apple']

In [45]:
a=[1,10,5,30]
print("Printing the list in the increasing order")
a.sort()
print(a)
print("------------------------------------------------------")
print("Printing the list in the decreasing order")
a.sort(reverse=True)
print(a)

Printing the list in the increasing order
[1, 5, 10, 30]
------------------------------------------------------
Printing the list in the decreasing order
[30, 10, 5, 1]

In [1]:
# Copy the list in the another list
list1=["Apple","Banana","Mangoes","Cherris"]
list2=list1.copy()
print(list2)

['Apple', 'Banana', 'Mangoes', 'Cherris']