In [8]:
name="Johe Doe"
print(name)

Johe Doe

In [9]:
# index starts from 0 to n-1
print(name[2])
print(name[5])

h
D

In [10]:
for i in "hello" :
    print(i)

h
e
l
l
o

In [11]:
panno="AXAT7821TY"
print(panno)

AXAT7821TY

In [14]:
panno="AXAT7821TY1"
print(len(panno))

11

In [15]:
tw="Indian economy growth is not as expected"
print("not" in tw)  # It is searching for the "not" word in the string tw

True

In [16]:
tw="Indian economy growth is not as expected"
if "is" in tw:
    print("Data is there in tw")

Data is there in tw

In [20]:
tw="Indian economy growth is not as expected"
if "abcd" not in tw: # These is the opposite of not in
    print("Data is not there in tw")

Data is not there in tw

In [3]:
# Slicing
# String name[start,end]
# Start is inclusive
# End is exclusive
name = "John Doe"
print(name[2])

h

In [6]:
name = "John Doe"
print(name[0:4])  #0->J 3(3+1=4)->n end is not inclusive
print(name[:4]) # By default initial index is 0 if we are not passing
print(name[5:]) # By default if there is nothing after colon then it will go till the last position

John
John
Doe

In [9]:
# Another Way
print(name[-3:])
print(name[-7:-4])

Doe
ohn

In [11]:
# Functions in the string
name = "john doe"
print(name.upper())
print(name.lower())

JOHN DOE
john doe

In [18]:
# Replacing the character of the string with the other characters
name = "john doe"
print(name.replace("j","J")) #replace(what,by)
print(name.replace("d","t"))
print(name)

John doe
john toe
john doe

In [19]:
# Split Function
name = "john doe"
print(name.split(" ")) # Here we are using the condition of the space

['john', 'doe']

In [20]:
name = "john doe"
print(name.split("o"))

['j', 'hn d', 'e']

In [31]:
# Concatanation of the string
#1000 USD
n1="John"
n2="Doe"
name=n1+ " " +n2
print(name)

John Doe

In [33]:
# Changing the particular element in the list
list1=["Apple","Banana","Cherris"]
print(list1)
print("------------------------------")
list1[1] = "Mangoes"
print(list1)

['Apple', 'Banana', 'Cherris']
------------------------------
['Apple', 'Mangoes', 'Cherris']

In [41]:
list1=["Apple","Banana","Cherris","Grapes","Almonds"]
print(list1)
print("------------------------------")
# Changing the two element of the list
list1[1:3] = ["Mangoes","Blue Berris"]
print(list1)

['Apple', 'Banana', 'Cherris', 'Grapes', 'Almonds']
------------------------------
['Apple', 'Mangoes', 'Blue Berris', 'Grapes', 'Almonds']