In [10]:
set1={"UK","US","Germany"} # Sets are not oredered they are unordered
print(set1)

{'US', 'UK', 'Germany'}

In [11]:
# You cannot change the item of the set but you can remove or add the item of the set

In [12]:
# Operation on the sets
# We cannot have duplicate sets
set1={"UK","US","Germany","Germany"}
print(set1)

{'US', 'UK', 'Germany'}

In [13]:
# Length of the sets
set1={"UK","US","Germany","Germany"}
print(len(set1))

3

In [14]:
print(type(set1))

<class 'set'>

In [16]:
# Set Constructor
set1=set(("UK","US","Germany","Germany")) # There are two ways for creating the set
print(set1)

{'US', 'UK', 'Germany'}

In [17]:
# Union()
set1={"UK","US","Germany","Germany"}
set2={10,20,30,40}
set3 = set1.union(set2)
print(set3)

{'US', 'UK', 10, 20, 40, 'Germany', 30}

In [18]:
# Update()
set1={"UK","US","Germany","Germany"}
set2={10,20,30,40}
set1.update(set2)
print(set1)

{'US', 'UK', 10, 20, 40, 'Germany', 30}

In [20]:
# I just want to both commann element from the two set
# Intersection
set1={"UK","US","Germany"}
set2={"KSA","Italy","Germany","India"}
set1.intersection_update(set2)  # Only comman things which are in both the sets
print(set1)

{'Germany'}

In [ ]:
nn