In [2]:
import pandas as pd

In [20]:
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx')

In [21]:
df # df is the dataframe dataframe is the tabular structure
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [22]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [23]:
# If we want to select the another excel sheet from the same excel sheet
df1 = pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx',sheet_name='Sheet2')
df1

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid,0
7,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,NaN,0
8,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1
9,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN,1
10,1117293701,party,Average,5.0,free,Summer,o-neck,full,natural,polyster,broadcloth,lace,solid,0
11,898481530,Flare,Average,0.0,free,Spring,v-neck,short,NaN,nylon,NaN,NaN,animal,0
12,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1
13,749031896,vintage,Average,4.8,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal,1
14,1055411544,Casual,Low,5.0,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0
15,1162628131,Casual,Low,0.0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0
16,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1
17,830467746,bohemian,Medium,5.0,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1
18,840857118,Brief,Average,0.0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0

In [24]:
# It will consider the top of the row which is heading also the column

In [25]:
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx',header=None) # By placing header=None it will replace the column detail with the integer number
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [26]:
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx',header=None,names=['A' ,'B','C','D','E','F','G','H','I','J','K','L','M']) # Here we can also change the name of the column
df

,A,B,C,D,E,F,G,H,I,J,K,L,M
Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [27]:
# Different types of operation on the dataframe
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx')
# For seeing the specific number of rows from the top in the dataframe
df.head(2) # It will show the top two data
df.head() # If we will not give any argument in it it will give you the top 5 data

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [28]:
# For seeing the specific number of rows from the bottom in the dataframe
df.tail() # If we will not give any argument in it it will give you the bottom 5 data

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [29]:
df.tail(2) # It will show the bottom two data

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [30]:
df_h = pd.read_csv(r'C:\Users\gupta\Downloads\haberman_csv.csv')
df_h

,Age_of_patient_at_time_of_operation,Patients_year_of_operation,Number_of_positive_axillary_nodes_detected,Survival_status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [4]:
 # Reading the data directly from the github
df_github = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')
# Printing the data set df_github
df_github

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

In [31]:
# Reading the data from the html page
df_basketball=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [32]:
df_basketball
type(df_basketball) # It is the list it is not the dataframe
len(df_basketball) # Length is the 1 because there is only one table
df_basketball[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [33]:
# If we want to read the json data
json_df = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [34]:
json_df
type(json_df)
json_df .columns # If we want to show the name of the column
json_df['user'] # Under the user these is the data

0     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
1     {'login': 'lukemanley', 'id': 8519523, 'node_i...
2     {'login': 'lithomas1', 'id': 47963215, 'node_i...
3     {'login': 'attack68', 'id': 24256554, 'node_id...
4     {'login': 'attack68', 'id': 24256554, 'node_id...
5     {'login': 'AlexanderJuestel', 'id': 45469915, ...
6     {'login': 'ChiQiao', 'id': 35905338, 'node_id'...
7     {'login': 'rmhowe425', 'id': 45905457, 'node_i...
8     {'login': 'jbrockmendel', 'id': 8078968, 'node...
9     {'login': 'phofl', 'id': 61934744, 'node_id': ...
10    {'login': 'lukemanley', 'id': 8519523, 'node_i...
11    {'login': 'kvn4', 'id': 55560840, 'node_id': '...
12    {'login': 'WillAyd', 'id': 609873, 'node_id': ...
13    {'login': 'Julian048', 'id': 100482381, 'node_...
14    {'login': 'raj-thapa', 'id': 118627384, 'node_...
15    {'login': 'phofl', 'id': 61934744, 'node_id': ...
16    {'login': 'Rob-DL', 'id': 3153796, 'node_id': ...
17    {'login': 'Andy-Dihong-Luo', 'id': 128155646, ...
18    {'login': 'rsm-23', 'id': 136445532, 'node_id'...
19    {'login': 'iansheng', 'id': 42494185, 'node_id...
20    {'login': 'rmhowe425', 'id': 45905457, 'node_i...
21    {'login': 'mroeschke', 'id': 10647082, 'node_i...
22    {'login': 'kvn4', 'id': 55560840, 'node_id': '...
23    {'login': 'mroeschke', 'id': 10647082, 'node_i...
24    {'login': 'sunflyfairy', 'id': 87637658, 'node...
25    {'login': 'nhoover', 'id': 5420750, 'node_id':...
26    {'login': 'mroeschke', 'id': 10647082, 'node_i...
27    {'login': 'noatamir', 'id': 6564007, 'node_id'...
28    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
29    {'login': 'phofl', 'id': 61934744, 'node_id': ...
Name: user, dtype: object

In [35]:
# Here we are seeing the attribute dataframe
df
# Now we want to convert these data into the json

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [36]:
df.to_json('test.json',orient='records') # Giving the name of the test file

In [37]:
pwd

'c:\\Users\\gupta\\OneDrive\\Desktop\\Ineron(Python and Pandas)'

In [38]:
# Now we are saving our csv data into our system
df.to_csv("C://test1.csv")
df.to_csv("C://test1.csv",sep='#') # All the data are seperated with the #

ImportError: Missing optional dependency 'fsspec'.  Use pip or conda to install fsspec.

In [ ]:
# We know the mysql
# 1-> Create a table attribute and dress dataset
# 2-> Do a bulk for these two table for respective dataset
# 3-> Read these dataset in pandas as a dataframe
# 4-> Convert attribute dataset in json format
# 5-> Store the json dataset in the mongodb

# 6-> In sql task try to perform left join operation with attribute dataset and dress dataset on column Dress_ID
# 7-> Write a sql query to find out how many unique dress that we have based on dress id
# 8-> How many dresses have recommendation 0
# 9-> Try to find out the total dress sell fro indivisual dress id
# 10-> Try to find out a third highest most selling dress id

In [3]:
df_attribute = pd.read_csv(r'C:\Users\gupta\Downloads\Attribute DataSet_CSV.csv')
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0

In [4]:
df_dress = pd.read_csv(r'C:\Users\gupta\Downloads\Dress-Sales_CSV.csv')
df_dress

,Dress_ID,29-08-2013,31-08-2013,02-09-2013,04-09-2013,06-09-2013,08-09-2013,10-09-2013,12-09-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,02-10-2013,04-10-2013,06-10-2013,08-10-2010,10-10-2013,12-10-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [7]:
df_attribute.to_json('attribute.json')

In [6]:
pwd

'c:\\Users\\gupta\\OneDrive\\Desktop\\Ineron(Python and Pandas)'